/* regras para uma largura máxima de 428px */

@media (max-width:428px) {
    .container {
        width: 100vw;
        height: 100vh;
        margin: 0;
    }

    /* -X-X-X-X-X- 1a PÁGINA -X-X-X-X-*/
    #capa {
        width: 100vw;
        height: 100vh;
        position: relative;
        grid-template-columns: 100vw;
        grid-template-rows: 2fr 1.5fr 1fr;
    }

    #titulo {
        grid-area: 1 / 1 / span 1 / span 1;
    }

    #orientacoes {
        grid-area: 2 / 1 / span 1 / span 1;
    }

    #avancar {
        grid-area: 3 / 1 / span 1 / span 1;
    }

    #btn {
        position: absolute;
        left: 50%;
        margin-left: -48px;
    }

    /* -X-X-X-X-X- 2a PÁGINA -X-X-X-X-*/

    #tela-inicial {
        width: 100vw;
        height: 100vh;
    }

    #modelo {
        width: 100vw;
    }

    /* -X-X-X-X-X- 3a PÁGINA -X-X-X-X-*/

    #jogo-em-andamento {
        width: 100vw;
        height: 100vh;
        grid-template-columns: 100vw;
        grid-template-rows: 55vh 25% auto;
        position: relative;
    }

    .malha {
        width: 100vw;
        height: 87%;
        background-size: contain;
    }

    .card {
        margin-top: 0;
        margin-left: 0;
    }

    #Marcatempo {
        left: 50%;
    }
}

/* ____________________________________________________________________________ */

/* regras para uma altura mínima de 1000px */
/* afeta apenas o Kindle Fire HDX Linus e o iPad*/
/* -X-X-X-X-X- 1a PÁGINA -X-X-X-X-*/
@media (min-height: 1000px) {
    #avancar {
        position: relative;
    }

    #btn {
        position: absolute;
        left: 50%;
        margin-left: -48px;
    }
}

/* -X-X-X-X-X- 3a PÁGINA -X-X-X-X-*/
#jogo-em-andamento {
    position: relative;
}

.malha {
    height: 100%;
    background-size: 100% 100%;
}

.card {
    margin-top: 13%;
    margin-left: 13%;
}

#Marcatempo {
    left: 50%;
}

/* _____________________________________________________________________________________ */
/* regras para uma altura máxima de 667px */
/*apenas afeta o iPhone SE 2nd gen iOS 14.6*/
/* -X-X-X-X-X- 1a PÁGINA -X-X-X-X-*/
@media (max-height: 667px) {
    .malha {
        height: 100%;
        background-size: 100% 100%;
    }

    #avancar {
        position: relative;
    }

    #btn {
        position: absolute;
        left: 50%;
        margin-left: -48px;
    }

    #orientacoes {
        padding: 0 6%;
    }

    /* -X-X-X-X-X- 3a PÁGINA -X-X-X-X-*/
    #Marcatempo {
        left: 50%;
    }
}

/* ____________________________________________________________________________ */
/* regras para orientation landscape*/

@media (orientation: landscape) and (max-width: 950px) {

    .container {
        width: 100vw;
        height: 100vh;
        max-width: 100vw;
        max-height: 100vh;
    }

    /* -X-X-X-X-X- 1a PÁGINA -X-X-X-X-*/
    #capa {
        width: 100vw;
        height: 100vh;
        max-width: 100vw;
        padding: 0;
        margin: 0;
        position: relative;
        grid-template-columns: 2fr 1.5fr;
        grid-template-rows: 2fr 1fr;
    }

    #titulo {
        grid-area: 1 / 1 / span 2 / span 1;
    }

    #orientacoes {
        grid-area: 1 / 2 / span 1 / span 1;
    }

    #avancar {
        grid-area: 2 / 2 / span 1 / span 1;
    }

    /* -X-X-X-X-X- 2a PÁGINA -X-X-X-X-*/

    #tela-inicial {
        display: grid;
        width: 100vw;
        max-width: 100vw;
        height: 100vh;
        margin: 0;
        position: relative;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
    }

    #modelo {
        width: 50%;
        height: 100vh;
        margin-left: 0;
        padding-top: 0;
        grid-area: 1 / 1 / span 1 / span 1;
    }

    #start {
        position: absolute;
        grid-area: 1 / 2 / span 1 / span 1;
        top: 50%;
        left: 75%;
    }

    /* -X-X-X-X-X- 3a PÁGINA -X-X-X-X-*/
    #jogo-em-andamento {
        grid-template-columns: 2fr 2fr;
        grid-template-rows: 2fr 1fr;
        margin: 0;
        width: 100vw;
        max-width: 100vw;
        height: 100vh;
    }

    .malha {
        grid-area: 1 / 1 / span 2 / span 1;
        margin: 0;
        width: 100%;
        max-width: 100%;
        height: 100%;
    }

    #containerpecas {
        grid-area: 1 / 2 / span 1 / span 1;
    }

    .card {
        margin-top: 5%;
        margin-left: 13%;
    }

    #Marcatempo {
        /* width: 90px;
        height: 80px;
        position: absolute;
        margin-top: -45px;
        margin-left: -45px;
        left: 65%;
        bottom: 20%; */
        grid-area: 2 / 2 / span 1 / span 1;
    }
}