/* regras para uma largura máxima de 428px */

@media (max-width:428px) {
    .container {
        width: 100vw;
        height: 100vh;
        max-width: 100vw;
        margin: 0;
    }

    /* -X-X-X-X-X- 1a PÁGINA -X-X-X-X-*/
    #capa {
        width: 100vw;
        height: 100vh;
        display: block;
        position: relative;
    }

    #avancar {
        position: absolute;
        bottom: 30%;
        left: 50%;
        margin-left: -48px;
    }

    /* -X-X-X-X-X- 2a PÁGINA -X-X-X-X-*/

    #tela-inicial {
        width: 100vw;
        height: 100vh;
    }

    #modelo {
        width: 100vw;
    }

    /* -X-X-X-X-X- 3a PÁGINA -X-X-X-X-*/

    #jogo-em-andamento {
        width: 100vw;
        height: 100vh;
        grid-template-columns: 100vw;
        grid-template-rows: 55vh 25% auto;
    }

    .malha {
        grid-area: 1 / 1 / span 1 / span 1;
        width: 100vw;
        height: 87%;
        background-size: contain;
        grid-template-columns: repeat(17, 1fr);
        grid-template-rows: repeat(18, 1fr);
    }

    #containerpecas {
        grid-area: 2 / 1 / span 1 / span 1;
    }

    #Marcatempo {
        padding-bottom: 10%;
        grid-area: 3 / 1 / span 1 / span 1;
    }
}

/* ____________________________________________________________________________ */
/* regras para orientation landscape*/

@media (orientation: landscape) {

    .container {
        width: 100vw;
        height: 100vh;
        max-width: 100vw;
    }

    /* -X-X-X-X-X- 1a PÁGINA -X-X-X-X-*/
    #capa {
        width: 100vw;
        height: 100vh;
        max-width: 100vw;
        padding: 0;
        position: relative;
    }

    #titulo {
        grid-area: 1 / 1 / span 3 / span 1;
    }

    #orientacoes {
        grid-area: 1 / 2 / span 1 / span 2;
    }

    #avancar {
        grid-area: 2 / 2 / span 2 / span 2;
    }

    /* -X-X-X-X-X- 2a PÁGINA -X-X-X-X-*/

    #tela-inicial {
        width: 100vw;
        height: 100vh;
    }

    #modelo {
        width: 50%;
        height: 100vh;
        margin-left: 10px;
        margin-right: auto;
        padding-top: 0;
    }

    #start {
        top: 50%;
        right: 80%;
    }

    /* -X-X-X-X-X- 3a PÁGINA -X-X-X-X-*/
    #jogo-em-andamento {
        grid-template-columns: 3fr 1fr auto;
        grid-template-rows: 100vh;
    }
}

/* ____________________________________________________________________________ */

/* regras para uma largura máxima de 375px */
@media (max-width: 375px) {

    /* -X-X-X-X-X- 1a PÁGINA -X-X-X-X-*/
    #capa {
        width: 100vw;
        height: 100vh;
        display: block;
        position: relative;
    }

    #avancar {
        position: absolute;
        left: 50%;
        margin-left: 8px;
    }

    /* -X-X-X-X-X- 2a PÁGINA -X-X-X-X-*/
    #start {
        position: relative;
        top: 75%;
        left: 50%;
    }

    /* -X-X-X-X-X- 3a PÁGINA -X-X-X-X-*/
    .malha {
        grid-area: 1 / 1 / span 1 / span 1;
        width: 100vw;
    }
}

/* __________________________________________ */
/* regras para uma altura mínima de 1000px */
/* -X-X-X-X-X- 1a PÁGINA -X-X-X-X-*/
/* afeta apenas o Kindle Fire HDX Linus e o iPad*/
@media (min-height: 1000px) {
    #avancar {
        position: absolute;
        bottom: 45%;
        left: 50%;
        margin-left: -48px;
    }
}

/* __________________________________________ */
/* regras para uma altura máxima de 812px */
/*apenas afeta o iPhone SE 2nd gen iOS 14.6*/
/* -X-X-X-X-X- 1a PÁGINA -X-X-X-X-*/
@media (max-height: 812px) {
    #avancar {
        position: absolute;
        top: 80%;
        left: 35%;
    }

    #orientacoes {
        padding: 0 6%;
    }

    /* -X-X-X-X-X- 2a PÁGINA -X-X-X-X-*/
    #start {
        position: relative;
        top: 75%;
        left: 50%;
    }
}